* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	font-family: Lato;
	font-size: 1.5em;
	height: 100%;
}

body {
	background: #e5e5e5;
	background-image: radial-gradient(#f2f2f2, #cccccc);
	background-image: -o-radial-gradient(#f2f2f2, #cccccc);
	background-image: -ms-radial-gradient(#f2f2f2, #cccccc);
	background-image: -moz-radial-gradient(#f2f2f2, #cccccc);
	background-image: -webkit-radial-gradient(#f2f2f2, #cccccc);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -300px;
}

h1 {
	color: #222222;
	text-align: center;
}

@media only screen
and (max-width : 320px)
and (max-width : 480px) {
	.container {
		margin-top: -75px;
		margin-left: -150px;
	}

	img {
		height: 110px;
		width: 300px;
	}

	h1 {
		font-size: 1em;
	}
}
